{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block body %}
    {% if queryset %}
          <section class="site-section py-sm">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="mb-4">Latest Publications</h2>
                </div>
              </div>
              <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">
                  <div class="row">

                     {% for pub in queryset %}

                        <div class="col-md-6">
                          <a href="{{ pub.pub_url }}" class="blog-entry element-animate" data-animate-effect="fadeIn">
                            <img src="{% static "/images/img_5.jpg" %}" alt="Image placeholder" class="publication-image">
                            <div class="blog-content-body">
                              <div class="post-meta">


                                <span class="author mr-2"><img src="/static/images/person_1.jpg" alt="Author">{{ pub.author }}</span>&bullet;
                                <span class="mr-2">12 Jul 2019</span>
                              </div>
                              <h2>{{ pub.pub_title }}</h2>
                            </div>
                          </a>
                        </div>

                     {% endfor %}
                  </div>

                  <div class="row mt-5">
                    <div class="col-md-12 text-center">
                      <nav aria-label="Page navigation" class="text-center">
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item active"><a class="page-link" href="#">&gt;</a></li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>

                <!-- END main-content -->

                {% block sidebar %}

                {% endblock %}

         <!-- END sidebar-box -->
              </div>
            </div>
          </section>
    {% else %}
    <h3>You don't have any publications</h3>
{% endif %}
{% endblock %}
